.container {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    background: darkblue;
    padding: 1rem;
    margin-bottom: 1rem;
}

.navItemList {
    display: flex;
    align-items: center;
}

.navItem {
    color: white;
    font-size: 0.875rem;
    margin-right: 20px;
}

.homeLink {
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
